.postHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8px;
  border-bottom: 1px solid #EEE;
}

.postHeader .info {
  display: flex;
  align-items: center;
}

.postHeader .info .avatar {
  width: 48px;
  height: 48px;
  background-color: #DDD;
  border-radius: 50%;
}

.postHeader .info .userName h2 {
  font-size: 1rem;
  margin: 0;
  font-weight: 700;
  padding-left: 8px;
}

.postHeader .menuButton {

}

.postHeader .menuButton svg {
  width: 25px;
  height: 32px;
}